<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.emf.cdo.releng/build.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/org.eclipse.gef.releng}/buildlog.latest.txt"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.emf.cdo.releng"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="eclipse.running" value="true"/>
<mapEntry key="JAVA50_HOME" value="C:\Program Files\Java\jdk1.5.0_16"/>
<mapEntry key="JAVA_HOME" value="C:\Program Files\Java\jdk1.5.0_16"/>
<mapEntry key="eclipse.home" value="C:\develop\bin\eclipse"/>
<mapEntry key="eclipse.pdebuild.templates" value="/C:/develop/bin/eclipse/plugins/org.eclipse.pde.build_3.5.0.v20090527-1800/templates/"/>
<mapEntry key="eclipse.pdebuild.scripts" value="/C:/develop/bin/eclipse/plugins/org.eclipse.pde.build_3.5.0.v20090527-1800/scripts/"/>
<mapEntry key="eclipse.pdebuild.home" value="/C:/develop/bin/eclipse/plugins/org.eclipse.pde.build_3.5.0.v20090527-1800/./"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_HIDE_INTERNAL_TARGETS" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${projects:org.eclipse.dash.common.releng,org.eclipse.gef.releng}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/org.eclipse.emf.cdo.releng/build.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
