<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2008 Eike Stepper, Germany.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.net4j.pop.internal.ui.TaskPropertyTester"
            id="org.eclipse.net4j.pop.ui.TaskPropertyTester"
            namespace="org.eclipse.net4j.pop.ui"
            properties="hasDevelopmentStream,hasMaintenanceStream,hasTaskStream,hasAnyStream"
            type="org.eclipse.mylyn.tasks.core.ITask">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.net4j.pop.ui.NonPopContributions"
            objectClass="org.eclipse.mylyn.tasks.core.ITask">
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.CreateStreamAction$Task"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.CreateTaskStreamAction"
               label="Create POP Task Stream"
               state="true"
               style="push">
         </action>
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.CreateStreamAction$Maintenance"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.CreateMaintenanceStreamAction"
               label="Create POP Maintenance Stream"
               state="true"
               style="push">
         </action>
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.CreateStreamAction$Development"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.CreateDevelopmentStreamAction"
               label="Create POP Development Stream"
               state="true"
               style="push">
         </action>
         <enablement>
     		<test property="org.eclipse.net4j.pop.ui.hasAnyStream" value="false" forcePluginActivation="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.net4j.pop.ui.PopContributions"
            objectClass="org.eclipse.mylyn.tasks.core.ITask">
         <action
               class="org.eclipse.net4j.pop.internal.ui.actions.CheckoutPopAction"
               enablesFor="1"
               id="org.eclipse.net4j.pop.ui.CheckoutPopAction"
               label="Checkout POP"
               state="true"
               style="push">
         </action>
         <enablement>
         	<test property="org.eclipse.net4j.pop.ui.hasDevelopmentStream" forcePluginActivation="true"/>
         </enablement>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.net4j.pop.ui"
            name="POP Process Tooling">
      </category>
      <wizard
            category="org.eclipse.net4j.pop.ui"
            class="org.eclipse.net4j.pop.internal.ui.wizards.PopImportWizard"
            icon="icons/sample.gif"
            id="org.eclipse.net4j.pop.internal.ui.wizards.PopImportWizard"
            name="Pop">
      </wizard>
   </extension>

</plugin>
