<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.eclipse.net4j.examples.prov.presentation.ProvModelWizardID"
      name = "%_UI_ProvModelWizard_label"
      class = "org.eclipse.net4j.examples.prov.presentation.ProvModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ProvModelFile.gif">
      <description>%_UI_ProvModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.net4j.examples.prov.presentation.ProvEditorID"
        name = "%_UI_ProvEditor_label"
        icon = "icons/full/obj16/ProvModelFile.gif"
        extensions = "prov"
        class = "org.eclipse.net4j.examples.prov.presentation.ProvEditor" 
        contributorClass="org.eclipse.net4j.examples.prov.presentation.ProvActionBarContributor" >
    </editor>
  </extension>    
</plugin>
