<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.activities">
      <!-- Net4j Activity definition -->
      <activity
            id="org.eclipse.net4j.ui.capabilities.debugging"
            description="Tooling for net4j debugging"
            name="Net4j Signaling Framework Debugging Capabilities">
      </activity>
      
      <activity
            id="org.eclipse.net4j.ui.capabilities.examples"
            description="Net4j usage examples"
            name="Net4j Signaling Framework Example Capabilities">
      </activity>
      
      <!-- Pattern Bindings -->
      
      <!-- Net4j Debugging Contribution --> 
      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.ui.*">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.util.*">
      </activityPatternBinding>
      
      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.debug.*">
      </activityPatternBinding>
     
      <!-- Net4j Examples --> 
      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            pattern="org\.eclipse\.net4j\.buddies.*">
      </activityPatternBinding>          

      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            pattern="org\.eclipse\.net4j\.examples.*">
      </activityPatternBinding>
      
      <!-- Category bindings and default enablement provided by org.eclipse.galileo -->
      
	  <categoryActivityBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
      
      <categoryActivityBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>
            
</extension>
</plugin>
