<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.activities">
      <!-- Net4j Activity definition -->
      <activity
            id="org.eclipse.net4j.ui.capabilities.debugging"
            description="Debug tools like selection spy (Introspector) and several container views."
            name="Net4j Signalling Platform Debugging">
      </activity>

      <activity
            id="org.eclipse.net4j.ui.capabilities.examples"
            description="Net4j usage examples like the Buddies collaboration system or the JMS provider implementation."
            name="Net4j Signalling Platform Examples">
      </activity>

      <!-- Pattern Bindings -->

      <!-- Net4j Debugging Contribution -->
      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.ui.*">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.util.*">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            pattern="org\.eclipse\.net4j\.debug.*">
      </activityPatternBinding>

      <!-- Net4j Examples -->
      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            pattern="org\.eclipse\.net4j\.buddies.*">
      </activityPatternBinding>

      <activityPatternBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            pattern="org\.eclipse\.net4j\.examples.*">
      </activityPatternBinding>

      <!-- Category bindings and default enablement provided by org.eclipse.galileo -->

	  <categoryActivityBinding
            activityId="org.eclipse.net4j.ui.capabilities.debugging"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>

      <categoryActivityBinding
            activityId="org.eclipse.net4j.ui.capabilities.examples"
            categoryId="org.eclipse.categories.developmentCategory">
      </categoryActivityBinding>

</extension>
</plugin>
