<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    
  <extension-point id="mappings" name="Net4j CDO Mappings" schema="schema/mappings.exsd"/>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/net4j/cdo/client.ecore" 
       class = "org.eclipse.emf.cdo.client.provider.CdoItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.eclipse.org/net4j/cdo/client.ecore"
       class = "org.eclipse.emf.cdo.client.CdoPackage"
       genModel = "model/client.genmodel" /> 
  </extension>

</plugin>

