<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.net4j.container.containerAdapterFactories">
      <containerAdapterFactory
            class="org.eclipse.emf.cdo.internal.container.CDOContainerAdapterFactoryImpl"
            type="cdoclient">
      </containerAdapterFactory>
   </extension>

</plugin>
