<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension-point id="adapterFactories" name="Density MVC Adapter Factories" schema="schema/adapterFactories.exsd"/>

   <extension
         point="org.eclipse.net4j.examples.mvc.adapterFactories">
      <factory className="org.eclipse.net4j.examples.mvc.adapter.ReflectiveRecordModelAdapter$Factory"/>
      <factory className="org.eclipse.net4j.examples.mvc.adapter.EObjectRecordModelAdapter$Factory"/>
      <factory className="org.eclipse.net4j.examples.mvc.adapter.ListSequenceModelAdapter$Factory"/>
   </extension>
    
</plugin>
