<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004-2007 Eike Stepper, Germany.
	All rights reserved.   This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.cdo.weaver.internal.ui.bundle.EarlyStartup">
      </startup>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.eclipse.emf.cdo.weaver.ui.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="org.eclipse.emf.cdo.weaver.internal.ui.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.eclipse.emf.cdo.weaver.ui.internal.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
