<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.cdo.test.actionSet"
            label="CDO Test Actions"
            visible="true">
         <menu
               id="sampleMenu"
               label="CDO Test">
            <separator name="sampleGroup"/>
         </menu>
         <action
               class="org.eclipse.emf.cdo.examples.library.ui.internal.actions.LoadResourceAction"
               icon="icons/sample.gif"
               id="org.eclipse.emf.cdo.test.client.LoadResourceAction"
               label="Load Library CDO Resources"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Load Library CDO Resources"/>
         <action
               class="org.eclipse.emf.cdo.examples.library.ui.internal.actions.CreateResourceAction"
               icon="icons/sample.gif"
               id="org.eclipse.emf.cdo.test.client.CreateResourceAction"
               label="Create Library CDO Resources"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Create Library CDO Resources"/>
      </actionSet>
   </extension>

</plugin>
